$primary: black;
$link: #071528;
$link-hover: #4895ef;
$error: #fa2b66;
$warning: #ff7492;

@import "../../../node_modules/bulma/bulma.sass";

body {
  background-color: rgb(250, 250, 250);
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

blockquote {
  font-size: 22px;
  font-style: italic;
  line-height: 1.68;
}


.post .content {
  font-size: 1.1em;
  line-height: 32px;
}

.post-info-box {
    margin-top: auto;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    display: flex;
}

.card-image img {
    height: 100%;
}

a {
  transition: 0.3s ease;
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.card:hover {
  transition: 0.3s ease;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.3);
}

.card-image {
  filter: brightness(0.8);
}
.card:hover > .card-image {
  transition: 0.3s ease;

  filter: unset;
}

.image.is-256x256 {
  height: 256px;
  max-height: 256px;
  max-width: 256px;
  width: 256px;
}

@media screen and (min-width: $tablet) {
  .is-flex-direction-row-tablet {
    flex-direction: row !important;
  }
}

@media screen and (min-width: $desktop) {
  .is-justify-content-end-desktop {
    justify-content: end !important;
  }
 
}


.has-background-transparent {
  background-color: transparent;
}

.content blockquote {
  background-color: transparent; 
  border-left: 0px; 
  padding: 1.25em 1.5em;
}