$grey: rgb(163,163,163);
$black: rgb(23,23,23);
$white: white;
$light: #e3e3e3;
$dark: #000;

$background: $dark;
$primary: $grey;
$link: $white;

// buttons override
$button-background-color: $dark;
$button-border-color: $grey;
$button-color: $grey;
$button-hover-color: white;

// tags override
$tag-background-color: $dark;

// text override
$title-color: $white;
$text-strong: $white;
$text: $light;
$body-line-height: 30px;
$content-heading-color: $white;

// navbar override
$navbar-height: 4rem;
$navbar-background-color: $dark;
$navbar-item-hover-background-color: $dark;
$navbar-dropdown-background-color: $dark;
$navbar-dropdown-item-hover-background-color: $dark;
$navbar-dropdown-item-hover-color: white;


@import "../../../node_modules/bulma/bulma.sass";
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Montserrat&display=swap');




@media screen and (min-width: $desktop) {
  .is-spaced {
    padding: 2rem;
  }
}


body {
  background-color: $background;
  font-family: 'Montserrat', sans-serif;
}

.section-title {
  text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.post .content {
  font-size: 1.1em;
  line-height: 32px;
}

.post-info-box {
    margin-top: auto;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    display: flex;
}

.card-image img {
    height: 100%;
}

a {
  transition: 0.3s ease;
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.card:hover {
  transition: 0.3s ease;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.3);
}

.card-image {
  filter: brightness(0.8);
}

.card:hover > .card-image {
  transition: 0.3s ease;
  filter: unset;
}

.image.is-256x256 {
  height: 256px;
  max-height: 256px;
  max-width: 256px;
  width: 256px;
}

.is-halfheight {
  height: auto;
  width: 100%;
  max-width: 100%;
}

.content blockquote {
  border-left: 0px; 
  font-size: 22px;
  font-style: italic;
  line-height: 1.68;
  padding: 1.25em 0;

}

.content blockquote span:before {
   content: "";
   display: block;
   position: relative;
   top: 0;
   left: 0;
   width: 40px;
   height: 5px;
   background: #4a4a4a;
   margin-bottom: 1rem;
   margin-top: 1rem;

}

.content blockquote span {
  font-size: 17px;
  display: block;
}


@media screen and (min-width: $tablet) {
  .is-flex-direction-row-tablet {
    flex-direction: row !important;
  }
}

@media screen and (min-width: $desktop) {
  .is-justify-content-end-desktop {
    justify-content: end !important;
  }

  .is-halfheight {
    max-height: 50vh;
  }

  .content blockquote {
    padding: 1.25em 1.5em;
  }

  .sidebar {
    padding-left: 10px;
    margin-left: 10px;
  }

}

